.App {
    text-align: center;
  }
  

.Button {
  margin: 10px;
  height: 50px;
  width: 100px;
}

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}